body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafc;
}

/* Transisi Sidebar Smooth */
#sidebar {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar-hide {
    transform: translateX(-100%);
}

@media (min-width: 1024px) {
    .sidebar-hide {
        margin-left: -16rem;
        transform: translateX(0);
    }
}
